/* External style sheet for Hello World page */
/* Contact moi fo yer questions, folk!*/
font-family: 'Urbanist', sans-serif;

body {
  background-color: #ecebf3;
  font-family: 'Urbanist', sans-serif;
}

h1 {
  /* Use Urbanist font */
}
